*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

body {
  width: 100%;
  background-color: #0a0c10;
}

body .logo {
  max-width: 55px;
  height: 55px;
}

body .logo-ionia {
  max-width: 55px;
  height: 55px;
}

body .logo-lol {
  max-width: 125px;
  height: 50px;
}

.border {
  border: 1px solid red;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #edf1f7;
}

p {
  font-size: 12px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

h1 {
  font-size: 96px;
  color: #d73aff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 85vh;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.container .container-item-1 {
  max-width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-auto {
  width: auto;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ahri {
  width: 120%;
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
}

@media screen and (max-width: 960px) {
  .ahri {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  text-transform: uppercase;
  background: linear-gradient(267.72deg, #d73aff 0.88%, #ce37f4 100%);
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30%;
  height: 70%;
  border-radius: 3px;
  border-top: 3px solid #edf1f7;
  border-left: 3px solid #edf1f7;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 30%;
  height: 70%;
  border-radius: 3px;
  border-bottom: 3px solid #edf1f7;
  border-right: 3px solid #edf1f7;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn:hover {
  -webkit-transform: skewX(-10deg) scale(1.05);
          transform: skewX(-10deg) scale(1.05);
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  text-transform: uppercase;
  background: transparent;
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  border: 2px solid #ce37f4;
}

.btn-secondary::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: 0%;
  height: 104%;
  background: linear-gradient(267.72deg, #d73aff 0.88%, #ce37f4 100%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn-secondary:hover::after {
  width: 102%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(110deg, #0a0c10 25%, rgba(11, 12, 16, 0.8) 50%, #0a0c10 70%);
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(225deg, #ce37f4 0%, #9d2aba 100%);
  overflow: hidden;
}

.bg-loader svg {
  width: 60px;
  height: 60px;
}

header {
  width: 100%;
  padding-top: 16px;
}

header svg {
  cursor: pointer;
}

header svg path {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

header svg:hover path {
  fill: #d73aff;
}

header .navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-menu .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .nav-menu .nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 960px) {
  header .navbar .nav-menu .nav-list {
    display: none;
  }
}

.nav-link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: 200;
  position: relative;
  color: #959698;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 2px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 29, 34, 0)), to(#d73aff));
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #d73aff 100%);
}

.nav-link:hover {
  color: #f4f7fb;
}

.nav-link:hover::after {
  height: 40px;
}

.bx {
  display: none;
}

@media screen and (max-width: 960px) {
  .bx {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #edf1f7;
    border-radius: 8px;
  }
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social svg {
  cursor: pointer;
  margin-left: 16px;
}

.nav-social svg path,
.nav-social svg circle {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-social svg:hover path,
.nav-social svg:hover circle {
  fill: #d73aff;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.logo-ionia {
  fill: transparent;
  -webkit-animation: logo-ionia 6s ease infinite alternate;
          animation: logo-ionia 6s ease infinite alternate;
}

@-webkit-keyframes logo-ionia {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%,
  100% {
    stroke-width: 0.3;
    fill: #e5e9ef;
  }
}

@keyframes logo-ionia {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%,
  100% {
    stroke-width: 0.3;
    fill: #e5e9ef;
  }
}
/*# sourceMappingURL=style.css.map */