$blue: #14181f;
$blue-dark: #0a0c10;

$purple: #ce37f4;
$purple-dark: #9d2aba;
$purple-light: #d73aff;

$white: #edf1f7;
$white-dark: #e5e9ef;
$white-light: #f4f7fb;

$gray: #b5b6b8;
$gray-light: #a1a3a5;
$gray-dark: #959698;
