.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;
  height: 85vh;

  @include responsive() {
    flex-direction: column;
    height: auto;
  }

  .container-item-1 {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.flex {
  display: flex;
}

.w-auto {
  width: auto;
}

.items-center {
  align-items: center;
}

.ahri {
  width: 120%;
  transform: translate3d(-150px, 0, 0);

  @include responsive() {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  transform: skewX(-10deg);
  text-transform: uppercase;
  background: linear-gradient(267.72deg, $purple-light 0.88%, $purple 100%);
  position: relative;
  transition: 0.7s ease;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 30%;
    height: 70%;
    border-radius: 3px;
    border-top: 3px solid $white;
    border-left: 3px solid $white;
    opacity: 0;
    transition: 0.7s ease;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 30%;
    height: 70%;
    border-radius: 3px;
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
    opacity: 0;
    transition: 0.7s ease;
  }

  &:hover {
    transform: skewX(-10deg) scale(1.05);
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  transform: skewX(-10deg);
  text-transform: uppercase;
  background: transparent;
  position: relative;
  transition: 0.7s ease;
  border: 2px solid $purple;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 0%;
    height: 104%;
    background: linear-gradient(267.72deg, $purple-light 0.88%, $purple 100%);
    transition: 0.7s ease;
  }

  &:hover {
    &::after {
      width: 102%;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background: linear-gradient(
      110deg,
      $blue-dark 25%,
      rgba(11, 12, 16, 0.8) 50%,
      $blue-dark 70%
    );
  }
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, $purple 0%, $purple-dark 100%);
  overflow: hidden;

  svg {
    width: 60px;
    height: 60px;
  }
}
